doctype html
html(lang="en")
  head
  body
    script(src="socket.io/socket.io.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
    script(src="js/app.js")
    h1 Chat room
    p Express + Sockets.io
    #chat-container
      textarea#room
      br
      input#message
