body {
  background: #66bbff;
}

#chat-container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

#room {
  width: 100%;
  height: 180px;
  border-radius: 3px;
}

#message {
  width: 100%;
  border-radius: 3px;
}
